@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body{margin:0; font-family: 'Neucha', cursive; }

a{text-decoration: none; color:white;}

header{
    font-size: 200%;
    background-color: #170055;
    color: white;
    height: 43px;
    display: flex;
    justify-content: space-between;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 0.5em;
}

footer{
    font-size: 200%;
    background-color: #170055;
    color: white;
    height: 43px;
    display: flex;
    justify-content: space-between;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 0.5em;
    
    
}
.menuHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    width: 15em;
    
}



.hederI{
    margin-top: 13px;
}
.menuH{
    margin-left: 2px;
    transition: all 0.1s;
}
.menuH:hover{
    box-shadow: 0 0 10px 8px #170055 inset;
    background-color: #6831ff;
    height: 60px;
    transition: all 0.1s;
}

main{
    padding: 50px;
    height: 100vh;
}

.card{
    width: 100%;
}

.pZ{
    font-size: 30px;
    margin-left: 190px;
}

.Sdes{text-decoration: solid underline; color:#6831ff}

.myj{background-color: #C5FFE1;}

.mainFlex{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    
}

.mainFlex1{
    display: flex;
    justify-content: space-between;
    
    
}

.pp{
    font-size: 30px;
    
}

.inp{
    display: block;
    height: 20px;
    width: 200px;
    margin-bottom: 20px;

}

.butt{
    height: 30px;
    width: 100px;
    background-color: #170055;
    color: white;
}


.cardMagaz{
    width: 323px;
    height: 387px;
    background-color: #C4C4C4;
    padding-bottom: 20px;
    
}

.imgTovar{
    height: 70%; 
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}